:root {
    --color-primary: rgba(132, 31, 226, 0.5);
    --color-secondary: rgba(61, 28, 92, 0.979);
    --color-terciario: #dedede;
    --color-cuarto: #fff;
}

body {
    background-color: var(--color-secondary);
    font-family: Arial;
    color: #fff;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
header h1{
    position: absolute;
    top: -5px;
    left: 250px;
}

.buscador {
    display: flex;
    background: #fff;
    width: 30%;
    margin: 10px 0;
}
.buscador input {
    font-size: 15px;
    padding: 15px;
    width: 80%;
    border: none;
}
.buscador a {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.568);
    background-color: #fff;
    border: none;

    padding: 10px;
    border-left: 2px solid rgba(132, 31, 226, 0.5);
    font-size: 30px;
}
.line {
    z-index: -1;
    background-color: rgba(132, 31, 226, 0.336);
    position: absolute;
    top: -10px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.096);
    width: 100vw;
    height: 13vh;
}
.slider-header-image {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.slider-header-image img {
    height: 60vh;
    width: 70vw;
    object-fit: contain;
}
.left, 
.right {
    cursor: pointer;
    font-size: 40px;
    color: #fff;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 250px;
}
.left {
    left: 120px;
}
.right {
    right: 120px;
}
.slider-marcas {
    display: flex;
    align-items: end;
    gap: 100px;
    padding: 25px 0;
}
.slider-marcas img {
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    padding: 14px;
    background-color: #fff;
    border-radius: 50%;
}

.sidebar {
    position: fixed;
    top: 15px;
    left: 0;
    height: 85vh;
    background: linear-gradient(160deg, rgb(250, 248, 250) 0%, rgb(244, 228, 248) 100%);
    border-radius: 10px;
    padding: 2rem .3rem;
    z-index: 1;
}
.sidebar__element {
    grid-template-columns: 40px 1fr;
}
.sidebar__list {
    list-style: none;
    padding: 0;
    margin-left: 0.3rem;

    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.sidebar__list a {
    list-style-type: none;
    text-decoration: none;
}
.sidebar__element {
    padding: .1rem .1rem;
    border-radius: 3px;;

    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;

    color: #526581;
    fill: #8491a5;
    transition: .6s;
}
.sidebar__element:not(:has(.sidebar__icon--logo)):hover {
    background-color: rgba(132, 31, 226, 0.534);
    color: #fff;
    fill: #fff;
    cursor: pointer;
}
.sidebar__element:has(.sidebar__icon--logo) {
    margin-bottom: 1rem;
}
.sidebar__icon {
    width: 100%;
    overflow: hidden;
    justify-self: center;
}
.sidebar__icon--logo {
    width: 40px;
}
.sidebar__hide {
    overflow: hidden;
}
.sidebar__icon--avatar {
    width: 40px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 50%;
}
.sidebar__element--avatar {
    margin-top: auto;
    text-wrap: nowrap;
    text-align: left;
}
.sidebar__title, .sidebar__info {
    padding: 0 1rem;
}
.move {
    padding-left: 8px;
}
.open-side {
    cursor: pointer;
}


.like-btn a {
    color: black;
    cursor: pointer;
}
.like-btn a i {
    margin-top: 10px;
    color: var(--color-terciario);
    padding: 5px;
    background-color: #ffffff3a;
    border-radius: 50%;
    font-size: 20px;
}
.ventana, 
.likes-modal {
    background-color: rgba(61, 28, 92, 0.979);
    width: 77%;
    height: 85%;
    border-radius: 20px;
    text-align: center;
    align-content: start;
    align-items: center;
    padding: 10px;
    position: fixed;
    right: 2%;
    top: 5%;
    box-shadow: 0 1px 1000px rgba(0, 0, 0, 0.89);
    display: none;
    z-index: 1;
    overflow-y: auto;
    max-width: 90vw; 
}
.close-modal-cart,
.close-modal-likes {
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 35px;
}
.show {
    display: inline-block;
}
#productsContainer, 
#cartContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow-y: auto;
}
#productsContainer img, 
#cartContainer img {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}
#productsContainer p, 
#cartContainer p {
    font-size: 15px;
}

#nuevosProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    gap: 25px;
    padding: 10px;
    margin-left: 90px;
}
.card {
    min-height: 450px;
    padding:10px;
    text-align: center;
    border-radius: 50px;
    background: linear-gradient(160deg, rgba(36, 35, 37, 0.493) 0%, rgba(140, 140, 141, 0.377) 100%);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.89);
}
.card p {
    font-family: cursive;
}
.card img {
    max-width: 300px;
    max-height: 250px;
    min-width: 300px;
    min-height: 250px;
    object-fit: contain;
}
.card img:hover {
    transform: scale(1.1);
    transition: 2s;
}
.name-price {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.like-btn {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.like-btn button {
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
}
.cart-product {
    position: relative;
}
.quantity {
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 50%;
    position: absolute;
    top: 60px;
    right: 45%;
    padding: 8px;
}
.cart-product {
    background: linear-gradient(0deg, rgba(150, 67, 228, 0.37), #080808a8);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.89);
    padding: 10px 5px;
    margin-left: 8px;
}
.cart-product img {
    padding-top: 10px;
}
.increase, 
.decrease {
    position: absolute;
    top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 20px;
    cursor: pointer;
}
.increase {
    right: 10px;
}
.decrease {
    left: 10px;
}
.remove {
    font-weight: 700;
    color: var(--color-secondary);
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 7px;
    margin-top: 3px;
    cursor: pointer;
}
#whatsappButton {
    border: none;
    color: var(--color-secondary);
    background-color: #fff;
    border-radius: 20px;
    padding: 8px;
    font-size: 15px;
    font-weight: 800;
}


footer {
    background: linear-gradient(0deg, #ffffff2c, rgba(132, 31, 226, 0.5));
    width: 100vw;
}

@media screen and (max-width: 991px) {
    header h1{
        display: none;
    }
    .slider-container {
        position: relative;
    }
    .slider-marcas {
        gap: 10px;
        padding: 25px 0;
        padding-left: 50px;
    }
    .slider-marcas img {
        padding: 8px;
    }
    #nuevosProductos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: end;
        gap: 15px;
        padding: 10px 0;
        margin-left: 90px;
    }
}

@media screen and (max-width: 750px) {
    .buscador input {
        width: 200px;
    }
    #nuevosProductos {
        grid-template-columns: 1fr;
    }
    .slider-marcas img {
        padding: 1px;
    }
}


@media screen and (max-width: 500px) {
    .left, 
    .right {
        display: none;
    }
    .buscador input {
        width: 120px;
    }
    .buscador a {
        padding: 8px;
        font-size: 25px;
    }
    .sidebar {
        top: 30px;
        height: 78vh;
    }
    .slider-header-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .slider-header-image img {
        object-fit: contain;
        padding-left: 10%;
        width: 90%;
        height: 100%;
        min-height: 250px;
    }
    .slider-marcas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #productsContainer, 
    #cartContainer {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
    
}
